.admin-dashboard {
  padding: 100px;
  text-align: center;
  background-color: #f9f9f9;
  margin-bottom: -70px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.stat-card {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 24px;
  font-weight: bold;
  color: #3e3e3e;
}





#rev-head {
  text-align: center;
}
#rev-head h1 {
    background-color: #333;
    color: #fffcf7;
    padding: 0.5em 1em;
    border-radius: 5px;
}


table {
    width: 90%;
    border-collapse: collapse;
    margin: 1rem auto;
    background-color:white;
    position: relative;

}

thead {
    background-color: #6f4e37;
    color: white;
}

th,
td {
    padding: 0.8rem;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f8f5f0;
}



.preparing-btn {
  background-color: orange;
  color: white;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.done-btn {
  background-color: green;
  color: white;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
td .btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* spacing between buttons if needed */
}
